In [12]:
data = {
    'name':'Shoaib',
    'fname':'Yakoob',
    'age':45,
    'qualification':'ICOM',
    'Skills':['Python','C#','AI']
}

data

{'name': 'Shoaib',
 'fname': 'Yakoob',
 'age': 45,
 'qualification': 'ICOM',
 'Skills': ['Python', 'C#', 'AI']}

In [13]:
print(type(data))

print(dir(data))

<class 'dict'>
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [14]:
print(data['name'])
data['Skills']

Shoaib

['Python', 'C#', 'AI']

In [15]:
import pandas as pd

data1 = {
    'name':['Shoaib','Khuzaima','Asif'],
    'fname':['Yakoob','Shoaib', 'Yousuf'],
    'age':[46,17, 45],
    'qualification':['ICOM','Metric','ICOM'],
    'Skills':['Python', 'BlockChain','Export Agent']
}

df = pd.DataFrame(data1)
df

       name   fname  age qualification        Skills
0    Shoaib  Yakoob   46          ICOM        Python
1  Khuzaima  Shoaib   17        Metric    BlockChain
2      Asif  Yousuf   45          ICOM  Export Agent

In [16]:
data1

{'name': ['Shoaib', 'Khuzaima', 'Asif'],
 'fname': ['Yakoob', 'Shoaib', 'Yousuf'],
 'age': [46, 17, 45],
 'qualification': ['ICOM', 'Metric', 'ICOM'],
 'Skills': ['Python', 'BlockChain', 'Export Agent']}

In [2]:
data2 = {}

data2['name'] = 'Khuzaima Shoaib'
data2['fname'] = 'Muhammad Shoaib'
data2['course'] = 'BlockChain'
data2['name'] = 'Khuzaima'
data2['name'] = data2['name'] + " BCC Student"

data2

{'name': 'Khuzaima BCC Student',
 'fname': 'Muhammad Shoaib',
 'course': 'BlockChain'}

In [18]:
dir(data)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [19]:
print(data2)
data2.clear()
print(data2)

{'name': 'KhuzaimaBCC Student', 'fname': 'Muhammad Shoaib', 'course': 'BlockChain'}
{}

In [30]:
emp = {}

emp['name'] = 'Muhammad Hamza'
emp['fname'] = 'Aslam'
emp['course'] = 'AI'
emp['name'] = 'Hamza Ali'
emp['name'] = emp['name'] +  ' AI Student'

print(emp)
del emp
print(emp)

{'name': 'Hamza Ali AI Student', 'fname': 'Aslam', 'course': 'AI'}

NameError: name 'emp' is not defined

In [2]:
emp = {
  'name': 'Hamza Ali AI Student',
  'fname': 'Aslam',
  'course': 'AI'
}

emp1 = emp
emp2 = emp
emp3 = emp

print(emp)
print(emp1)
print(emp2)
print(emp3)

emp2['name']= 'Hamza Waseem'

print(emp)
 
print(emp)
print(emp1)
print(emp2)
print(emp3)

{'name': 'Hamza Ali AI Student', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Ali AI Student', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Ali AI Student', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Ali AI Student', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Waseem', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Waseem', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Waseem', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Waseem', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Waseem', 'fname': 'Aslam', 'course': 'AI'}

In [3]:
emp = {
  'name': 'Hamza Ali AI Student',
  'fname': 'Aslam',
  'course': 'AI'
}

emp1 = emp.copy()

emp['name'] = 'Hamza Abdul Rauf'

print(emp)
print(emp1)

{'name': 'Hamza Abdul Rauf', 'fname': 'Aslam', 'course': 'AI'}
{'name': 'Hamza Ali AI Student', 'fname': 'Aslam', 'course': 'AI'}

In [13]:
keys = ['id', 'name', 'fname', 'course', 'timing', 'address']

list1 = dict.fromkeys(keys,'empty')
print(list1)

print(list1.keys())

{'id': 'empty', 'name': 'empty', 'fname': 'empty', 'course': 'empty', 'timing': 'empty', 'address': 'empty'}
dict_keys(['id', 'name', 'fname', 'course', 'timing', 'address'])

In [15]:
emp = {
  'name': 'Hamza Ali AI Student',
  'fname': 'Aslam',
  'course': 'AI'
}

emp.get('name')

'Hamza Ali AI Student'

In [19]:
emp.get('add', 'Not Available') # if does not exist, will not raise error.

'Not Available'

In [20]:
emp = {
  'name': 'Hamza Ali AI Student',
  'fname': 'Aslam',
  'course': 'AI'
}

emp

{'name': 'Hamza Ali AI Student', 'fname': 'Aslam', 'course': 'AI'}

In [21]:
emp.items()

dict_items([('name', 'Hamza Ali AI Student'), ('fname', 'Aslam'), ('course', 'AI')])

In [22]:
emp.values()

dict_values(['Hamza Ali AI Student', 'Aslam', 'AI'])

In [23]:
for value in emp.values():
    print(value)

Hamza Ali AI Student
Aslam
AI

In [24]:
for keys in emp.keys():
    print(keys)

name
fname
course

In [25]:
emp = {
  'name': 'Hamza Ali AI Student',
  'fname': 'Aslam',
  'course': 'AI'
}

for key in emp.keys():
    print(emp[key])

Hamza Ali AI Student
Aslam
AI

In [4]:
nums = list(range(1, 11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
for num in range(1, 11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [11]:
a=print('Pakistan Zindabad')
print(a)

a = len('Pakistan Zindabad')
print(a)
    
a = type(a)
print(a)

Pakistan Zindabad
None
17
<class 'int'>

Pop()

In [15]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS'
}

print(data)

del data['name']
data

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

{'fname': 'Aslam', 'age': 30, 'qualification': 'MSDS'}

In [20]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
    'qualification':'MSDS'
}

data

p = data.pop("name")
print(p)

Qasim

In [1]:
users = ['Arif', 'Shamshad', 'Najam', 'Shahab']

user_logout = users.pop()

print(users)
print(user_logout)

['Arif', 'Shamshad', 'Najam']
Shahab

# Control Structure

In [3]:
if True:
    print('Pakistan')

if False:
    print('Zindabad')

Pakistan

In [4]:
if True:
    print('Pakistan')
else:
    print('Germany')

Pakistan

In [5]:
if False:
    print('Pakistan')
else:
    print('Germany')

Germany

In [7]:
user = input('Enter username :')

print(user)

Admin

In [11]:
user = input('Enter username')

if user == 'Admin':
    print('Welcome Administrator!')
else:
    print("Sorry, you don't have perission!")

Sorry, you don't have perission!

In [16]:
per = int(input('Please enter percentage :'))

if per >= 90:
    print('Congratulation! your garde is A+')
elif per >= 80:
    print('Congratulation! your garde is A')
elif per >= 70:
    print('Congratulation! your garde is B')
elif per >= 60:
    print('Congratulation! your garde is C')
elif per >= 50:
    print('Congratulation! your garde is D')
else:
    print('Work hard & try again! your garde is F')

Congratulation! your garde is A+

In [21]:
a = '1, 2, 3, abc, pakistan'
print(a)

a = a.split(',')
print(a)

1, 2, 3, abc, pakistan
['1', ' 2', ' 3', ' abc', ' pakistan']

In [29]:
b = 'I love my country, Pakistan Zindabad!'
print(b)

b = b.split(' ',-1)
print(b)

I love my country, Pakistan Zindabad!
['I', 'love', 'my', 'country,', 'Pakistan', 'Zindabad!']

In [ ]:
import re
with open("./meeting_saved_chat.txt") as f:
    lines = f.readlines()
    
for row in lines:
    roll = set(re.findall(r"\bPIAIC[0-9]{5,7}\b",row))
    print(roll)